@import "vanilla-framework";
@include vanilla;

.petname-generator {
    &__container {
        padding-left: $sph--large;
        padding-right: $sph--large;
        padding-bottom: $spv--large;
    }

    &__header {
        display: flex;
        align-items: flex-end;
        margin-bottom: $spv--small;
    }

    &__logo {
        max-width: 2rem;
        margin-right: $sph--small;
    }

    &__title {
        margin: 0;
        vertical-align: bottom;
    }

    &__form-section {
        margin: $spv--large 0;
    }

    &__footer {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
}
